fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
pydantic
python-dotenv
mcp<2
neo4j
sentence-transformers
langchain-aws
langchain-core
bcrypt
pyjwt
requests
boto3
arxiv
TexSoup
pandas
numpy
matplotlib

stripe
